{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },

  "extends": ["airbnb", "prettier"],

  "plugins": ["react", "jsx-a11y", "import", "prettier", "curry"],

  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "func-names": ["error", "as-needed"],
    "prettier/prettier": ["error"],
    "curry/arrow-parens": [2, "as-needed", { "requireForBlockBody": true, "curry": "never" }]
  }
}
